In [1]:
"""
    load_data.ipynb
    Author: Anuvrat Chaturvedi
    Date: 8th June 2024
    Purpose: Load input files for further processing

    Github ticket: [#9](https://github.com/anuvrat-umich/siads_milestone2/issues/9)
"""

'\n    load_data.ipynb\n    Author: Anuvrat Chaturvedi\n    Date: 8th June 2024\n    Purpose: Load input files for further processing\n\n    Github ticket: [#9](https://github.com/anuvrat-umich/siads_milestone2/issues/9)\n'

In [2]:
### Load Libraries

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import yfinance as yf
import pickle
import urllib
import ssl

In [4]:
# Define common variables
data_folder = '../data/'

### Load top 500 stocks file

In [10]:
# Explore the list of current top 500 stocks
df_top500 = pd.read_csv(data_folder + 'SP500 - Sheet1.csv')
print(df_top500.head())

  Symbol     Security             GICS Sector               GICS Sub-Industry  \
0    AOS  A. O. Smith             Industrials               Building Products
1    ABT       Abbott             Health Care           Health Care Equipment
2   ABBV       AbbVie             Health Care                   Biotechnology
3    ACN    Accenture  Information Technology  IT Consulting & Other Services
4   ADBE   Adobe Inc.  Information Technology            Application Software

     Headquarters Location  Date added      CIK      Founded
0     Milwaukee, Wisconsin  2017-07-26    91142         1916
1  North Chicago, Illinois  1957-03-04     1800         1888
2  North Chicago, Illinois  2012-12-31  1551152  2013 (1888)
3          Dublin, Ireland  2011-07-06  1467373         1989
4     San Jose, California  1997-05-05   796343         1982

In [18]:
# Define the list of stocks to download
symbols_top500 = df_top500['Symbol'].tolist()

### Load Yahoo Finance files

In [19]:
top500_data = yf.download(symbols_top500, start="2010-01-01", end="2024-05-23")

[*********************100%%**********************]  502 of 502 completed

2 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-01-01 -> 2024-05-23)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [20]:
# Print the first few rows of the data
top500_data.head()

Price       Adj Close                                                     \
Ticker              A       AAL      AAPL ABBV ABNB        ABT      ACGL
Date
2010-01-04  20.122231  4.496876  6.461977  NaN  NaN  18.952156  7.994444
2010-01-05  19.903646  5.005957  6.473150  NaN  NaN  18.799036  7.967778
2010-01-06  19.832930  4.798555  6.370183  NaN  NaN  18.903446  7.933333
2010-01-07  19.807222  4.939964  6.358408  NaN  NaN  19.060040  7.886667
2010-01-08  19.800783  4.845692  6.400681  NaN  NaN  19.157484  7.871111

Price                                        ...  Volume                    \
Ticker            ACN       ADBE        ADI  ...     WTW       WY     WYNN
Date                                         ...
2010-01-04  32.212460  37.090000  22.530371  ...  348017  1832400  4741400
2010-01-05  32.411537  37.700001  22.494801  ...  339523  1724500  5644300
2010-01-06  32.756092  37.619999  22.452116  ...  585049  2254400  2738800
2010-01-07  32.725471  36.889999  22.274269  ...  328689  1420700  2388500
2010-01-08  32.595306  36.689999  22.402323  ...  279388  1310000  1539800

Price
Ticker          XEL       XOM XYL      YUM      ZBH    ZBRA ZTS
Date
2010-01-04  2670400  27809100 NaN  2962274   805872  168800 NaN
2010-01-05  4321400  30174700 NaN  3298757  1769643  168800 NaN
2010-01-06  2164500  35044700 NaN  4178981  1315619  385300 NaN
2010-01-07  3041700  27192100 NaN  2452472  1734005  183600 NaN
2010-01-08  1599100  24891800 NaN  3772392  2213985  266500 NaN

[5 rows x 3012 columns]

In [40]:
# Drop columns with missing values
top500_data_nona=top500_data.dropna(axis=1)

In [45]:
# Run some tests
print(len(top500_data.columns), len(top500_data_nona.columns))
level1_column=[]
level2_column=[]
for i, j in top500_data.columns.tolist():
    if i not in level1_column:
        level1_column.append(i)
    if j not in level2_column:
        level2_column.append(j)
print(level1_column, len(level2_column), len(level1_column)*len(level2_column), len(top500_data_nona.columns)/len(level1_column))

3012 2592
['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'] 502 3012 432.0

In [39]:
# Save the datasets to pickle files
top500_data.to_pickle(data_folder + 'top500_data.pkl')
top500_data_nona.to_pickle(data_folder + 'top500_data_nona.pkl')

### Load Edgar files

In [8]:
df_edgar1 = pd.read_feather(data_folder + 'stock_edgar_1_of_3.feather')
df_edgar2 = pd.read_feather(data_folder + 'stock_edgar_2_of_3.feather')
df_edgar3 = pd.read_feather(data_folder + 'stock_edgar_3_of_3.feather')

In [19]:
df_edgar1.sample(5)

,sym,end,frame,value,measure,type
10,CSCO,2013-07-27,CY2013,9.200000e+07,ExcessTaxBenefitFromShareBasedCompensationFina...,Year
28,AMT,2016-03-31,CY2016Q1I,4.273000e+06,CommonStockValue,Quarter
38,ADI,2018-11-03,CY2018Q3I,1.051748e+09,LiabilitiesCurrent,Quarter
15,DVA,2016-12-31,CY2016,9.390440e+08,AdjustmentsToReconcileNetIncomeLossToCashProvi...,Year
3,AEE,2013-03-31,CY2013Q1I,6.000000e+06,FormerGainContingencyRecognizedInCurrentPeriod,Quarter

In [96]:
print(sorted(df_edgar1[df_edgar1.type=='Year'].frame.unique()))
print(sorted(df_edgar2[df_edgar2.type=='Year'].frame.unique()))
print(sorted(df_edgar3[df_edgar3.type=='Year'].frame.unique()))

['CY1989', 'CY2001', 'CY2004', 'CY2005', 'CY2006', 'CY2007', 'CY2008', 'CY2009', 'CY2010', 'CY2011', 'CY2012', 'CY2013', 'CY2014', 'CY2015', 'CY2016', 'CY2017', 'CY2018', 'CY2019', 'CY2020', 'CY2021', 'CY2022', 'CY2023']
['CY1998', 'CY1999', 'CY2000', 'CY2005', 'CY2006', 'CY2007', 'CY2008', 'CY2009', 'CY2010', 'CY2011', 'CY2012', 'CY2013', 'CY2014', 'CY2015', 'CY2016', 'CY2017', 'CY2018', 'CY2019', 'CY2020', 'CY2021', 'CY2022', 'CY2023']
['CY2001', 'CY2002', 'CY2003', 'CY2004', 'CY2005', 'CY2006', 'CY2007', 'CY2008', 'CY2009', 'CY2010', 'CY2011', 'CY2012', 'CY2013', 'CY2014', 'CY2015', 'CY2016', 'CY2017', 'CY2018', 'CY2019', 'CY2020', 'CY2021', 'CY2022', 'CY2023', 'CY2027']

In [141]:
# Combine the dataframes to get the data for the the full year 2023
df_edgar_CY2023 = pd.concat([df_edgar1[df_edgar1.frame=='CY2023'],
          df_edgar2[df_edgar2.frame=='CY2023'],
          df_edgar3[df_edgar3.frame=='CY2023']], axis=0)

# Transpose measure to columns
df_edgar_CY2023_pivot = df_edgar_CY2023.pivot(index=['sym', 'type', 'frame'], columns='measure', values='value').reset_index()
df_edgar_CY2023_pivot.columns.name = None
df_edgar_CY2023_pivot.head()

,sym,type,frame,AcceleratedShareRepurchaseProgramAdjustment,AcceleratedShareRepurchasesFinalPricePaidPerShare,AccountsReceivablePurchase,AccountsReceivableSale,AccretionAmortizationOfDiscountsAndPremiumsInvestments,AccretionExpense,AccretionExpenseIncludingAssetRetirementObligations,...,WeightedAverageNumberDilutedSharesOutstandingAdjustment,WeightedAverageNumberOfDilutedSharesOutstanding,WeightedAverageNumberOfLimitedPartnershipAndGeneralPartnershipUnitOutstandingBasicAndDiluted,WeightedAverageNumberOfSharesCommonStockSubjectToRepurchaseOrCancellation,WeightedAverageNumberOfSharesIssuedBasic,WeightedAverageNumberOfSharesOutstandingBasic,WeightedAverageNumberOfSharesRestrictedStock,WeightedAverageNumberOfSharesTreasuryStock,WithdrawalFromContractHoldersFunds,WriteOffOfDeferredDebtIssuanceCost
0,A,Year,CY2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.960000e+08,NaN,NaN,NaN,2.940000e+08,NaN,NaN,NaN,NaN
1,AAL,Year,CY2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.196690e+08,NaN,NaN,NaN,6.536120e+08,NaN,NaN,NaN,NaN
2,AAPL,Year,CY2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.581255e+10,NaN,NaN,NaN,1.574423e+10,NaN,NaN,NaN,NaN
3,ABT,Year,CY2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.749000e+09,NaN,NaN,NaN,1.740000e+09,NaN,NaN,NaN,NaN
4,ACGL,Year,CY2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.788000e+08,NaN,NaN,368700000.0,3.687000e+08,NaN,NaN,NaN,NaN

In [142]:
# Find fill rate for each column in CY2023 data
fill_rate = pd.DataFrame(df_edgar_CY2023_pivot.count()/len(df_edgar_CY2023_pivot), columns=['fill_rate']).reset_index().rename(columns={'index':'column'}).sort_values(by='fill_rate', ascending=False)
print(f"Number of measures in CY 2023 files = {len(fill_rate)-3}")
print("Features with >80% fill rate are as follows:")
display(fill_rate[(fill_rate.fill_rate>0.8)])
# Keep only the columns with >80% fill rate
columns_to_keep_CY2023 = fill_rate[(fill_rate.fill_rate>0.8)].column.tolist()

Number of measures in CY 2023 files = 2317
Features with >80% fill rate are as follows:

                                                 column  fill_rate
0                                                   sym   1.000000
2                                                 frame   1.000000
1                                                  type   1.000000
821                             IncomeTaxExpenseBenefit   0.985680
1224         NetCashProvidedByUsedInFinancingActivities   0.976134
2315      WeightedAverageNumberOfSharesOutstandingBasic   0.973747
2311    WeightedAverageNumberOfDilutedSharesOutstanding   0.973747
1226         NetCashProvidedByUsedInInvestingActivities   0.968974
1228         NetCashProvidedByUsedInOperatingActivities   0.966587
146   CashCashEquivalentsRestrictedCashAndRestricted...   0.935561
188                         ComprehensiveIncomeNetOfTax   0.928401
1234                                      NetIncomeLoss   0.904535
319                     DeferredIncomeTaxExpenseBenefit   0.897375
252                     CurrentFederalTaxExpenseBenefit   0.880668
469                               EarningsPerShareBasic   0.875895
1318                             OperatingLeasePayments   0.871122
472                             EarningsPerShareDiluted   0.871122
314              DeferredFederalIncomeTaxExpenseBenefit   0.861575
255               CurrentStateAndLocalTaxExpenseBenefit   0.847255
1098                                    InterestPaidNet   0.842482
797   IncomeLossFromContinuingOperationsBeforeIncome...   0.823389
2016  RightOfUseAssetObtainedInExchangeForOperatingL...   0.811456
334        DeferredStateAndLocalIncomeTaxExpenseBenefit   0.809069
2059                             ShareBasedCompensation   0.804296

In [143]:
# Combine the dataframes to get the data for the Q1 of 2024 for both the quarterly and Instantaneous reports
df_edgar_2024Q1 = pd.concat([df_edgar1[((df_edgar1.frame=='CY2024Q1I')| (df_edgar1.frame=='CY2024Q1'))],
          df_edgar2[((df_edgar2.frame=='CY2024Q1I')| (df_edgar2.frame=='CY2024Q1'))],
          df_edgar3[((df_edgar3.frame=='CY2024Q1I')| (df_edgar3.frame=='CY2024Q1'))]], axis=0)

In [144]:
# Transpose measure to columns
df_edgar_2024Q1_pivot = df_edgar_2024Q1.pivot(index=['sym', 'type', 'frame'], columns='measure', values='value').reset_index()
df_edgar_2024Q1_pivot.columns.name = None

# Removing the instantaneous reports to keep only the full quarterly reports
df_edgar_2024Q1_pivot_fullqtr=df_edgar_2024Q1_pivot[df_edgar_2024Q1_pivot.frame=='CY2024Q1']
# Find fill rate for each column
fill_rate = pd.DataFrame(df_edgar_2024Q1_pivot_fullqtr.count()/len(df_edgar_2024Q1_pivot_fullqtr), columns=['fill_rate']).reset_index().rename(columns={'index':'column'}).sort_values(by='fill_rate', ascending=False)
print(f"Number of measures in 2024 Q1 Full quarter file = {len(fill_rate)-3} with {len(df_edgar_2024Q1_pivot_fullqtr)} records")
print("Features with >80% fill rate are as follows:")
display(fill_rate[(fill_rate.fill_rate>0.8)])
# Keep only the columns with >80% fill rate
columns_to_keep_2024Q1 = fill_rate[(fill_rate.fill_rate>0.8)].column.tolist()

# Keeping only the instantaneous reports
df_edgar_2024Q1_pivot_instantaneous=df_edgar_2024Q1_pivot[df_edgar_2024Q1_pivot.frame=='CY2024Q1I']
# Find fill rate for each column
fill_rate = pd.DataFrame(df_edgar_2024Q1_pivot_instantaneous.count()/len(df_edgar_2024Q1_pivot_instantaneous), columns=['fill_rate']).reset_index().rename(columns={'index':'column'}).sort_values(by='fill_rate', ascending=False)
print(f"Number of measures in 2024 Q1 instantaneous quarter file = {len(fill_rate)-3} with {len(df_edgar_2024Q1_pivot_instantaneous)} records")
print("Features with >80% fill rate are as follows:")
fill_rate[(fill_rate.fill_rate>0.8)]
# Keep only the columns with >80% fill rate
columns_to_keep_2024Q1I = fill_rate[(fill_rate.fill_rate>0.8)].column.tolist()

Number of measures in 2024 Q1 Full quarter file = 3696 with 419 records
Features with >80% fill rate are as follows:

                                                 column  fill_rate
0                                                   sym   1.000000
2                                                 frame   1.000000
1                                                  type   1.000000
1612                            IncomeTaxExpenseBenefit   0.968974
3691      WeightedAverageNumberOfSharesOutstandingBasic   0.968974
3688    WeightedAverageNumberOfDilutedSharesOutstanding   0.968974
474                         ComprehensiveIncomeNetOfTax   0.904535
2193                                      NetIncomeLoss   0.894988
1073                              EarningsPerShareBasic   0.875895
1076                            EarningsPerShareDiluted   0.871122
2183         NetCashProvidedByUsedInFinancingActivities   0.821002
2185         NetCashProvidedByUsedInInvestingActivities   0.816229
2187         NetCashProvidedByUsedInOperatingActivities   0.809069
1592  IncomeLossFromContinuingOperationsBeforeIncome...   0.806683

Number of measures in 2024 Q1 instantaneous quarter file = 3696 with 424 records
Features with >80% fill rate are as follows:

##### <font color="FFA07A"> Finding: Yearly, Quarterly and Instantaneous frames have different metrics. It's NOT the same metrics for different time frames!!!</font>

In [158]:
# Keeping columns with >80% fill rate
df_edgar_CY2023_pivot_filled_80 = df_edgar_CY2023_pivot[columns_to_keep_CY2023]
df_edgar_2024Q1_pivot_fullqtr_filled_80 = df_edgar_2024Q1_pivot_fullqtr[
    columns_to_keep_2024Q1
]
df_edgar_2024Q1_pivot_instantaneous_filled_80 = df_edgar_2024Q1_pivot_instantaneous[
    columns_to_keep_2024Q1I
]

# Combine the dataframes to get merged data for CY2023, 2024Q1 and 2024Q1I data
df_edgar_combined = pd.merge(
        df_edgar_CY2023_pivot_filled_80.drop(columns=["type", "frame"]),
        df_edgar_2024Q1_pivot_fullqtr_filled_80.drop(columns=["type", "frame"]),
        on="sym",
        how="outer",
        suffixes=("_CY2023", "_2024Q1"),
    ).merge(df_edgar_2024Q1_pivot_instantaneous_filled_80.drop(columns=["type", "frame"]), on="sym", how="outer", suffixes=("", "_2024Q1I")
)

df_edgar_combined.head()

,sym,IncomeTaxExpenseBenefit_CY2023,NetCashProvidedByUsedInFinancingActivities_CY2023,WeightedAverageNumberOfSharesOutstandingBasic_CY2023,WeightedAverageNumberOfDilutedSharesOutstanding_CY2023,NetCashProvidedByUsedInInvestingActivities_CY2023,NetCashProvidedByUsedInOperatingActivities_CY2023,CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsPeriodIncreaseDecreaseIncludingExchangeRateEffect,ComprehensiveIncomeNetOfTax_CY2023,NetIncomeLoss_CY2023,...,Assets,LiabilitiesAndStockholdersEquity,AccumulatedOtherComprehensiveIncomeLossNetOfTax,RetainedEarningsAccumulatedDeficit,CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents,StockholdersEquity,Goodwill,AssetsCurrent,LiabilitiesCurrent,CashAndCashEquivalentsAtCarryingValue
0,A,9.900000e+07,-9.300000e+08,2.940000e+08,2.960000e+08,-3.100000e+08,1.772000e+09,5.370000e+08,1.260000e+09,1.240000e+09,...,1.085600e+10,1.085600e+10,-3.370000e+08,1.090000e+09,1.674000e+09,6.214000e+09,3.963000e+09,4.203000e+09,1.958000e+09,1.671000e+09
1,AAL,2.990000e+08,-3.206000e+09,6.536120e+08,7.196690e+08,-5.020000e+08,3.803000e+09,9.500000e+07,5.130000e+08,8.220000e+08,...,6.438400e+10,6.438400e+10,-4.877000e+09,-8.001000e+09,7.030000e+08,-5.500000e+09,4.091000e+09,1.454200e+10,2.499300e+10,NaN
2,AAPL,1.674100e+10,-1.084880e+11,1.574423e+10,1.581255e+10,3.705000e+09,1.105430e+11,5.760000e+09,9.665200e+10,9.699500e+10,...,3.374110e+11,3.374110e+11,-8.960000e+09,4.339000e+09,3.392100e+10,7.419400e+10,NaN,1.284160e+11,1.238220e+11,3.269500e+10
3,ABT,9.410000e+08,-7.091000e+09,1.740000e+09,1.749000e+09,-3.133000e+09,7.261000e+09,-2.986000e+09,5.935000e+09,5.723000e+09,...,7.246700e+10,7.246700e+10,-8.166000e+09,3.801100e+10,6.284000e+09,3.881000e+10,2.338300e+10,2.237600e+10,1.402100e+10,6.284000e+09
4,ACGL,-8.730000e+08,-6.900000e+07,3.687000e+08,3.788000e+08,-5.468000e+09,5.749000e+09,2.250000e+08,5.413000e+09,4.443000e+09,...,6.276800e+10,6.276800e+10,-8.210000e+08,2.140500e+10,1.600000e+09,1.935500e+10,NaN,NaN,NaN,9.930000e+08

In [159]:
# Save the 2023, 2024Q1 and 2024Q1I merged file as a pickle files
df_edgar_combined.to_pickle(data_folder + 'df_edgar_combined.pkl')

In [210]:
"""
Following features are present in multiple datasets. I don't see any conflict with instantaneous data. 
'ComprehensiveIncomeNetOfTax_2024Q1',
 'ComprehensiveIncomeNetOfTax_CY2023',
'EarningsPerShareBasic_2024Q1',
 'EarningsPerShareBasic_CY2023',
 'EarningsPerShareDiluted_2024Q1',
 'EarningsPerShareDiluted_CY2023',
'IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest_2024Q1',
 'IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest_CY2023',
 'IncomeTaxExpenseBenefit_2024Q1',
 'IncomeTaxExpenseBenefit_CY2023',
 'NetCashProvidedByUsedInFinancingActivities_2024Q1',
 'NetCashProvidedByUsedInFinancingActivities_CY2023',
 'NetCashProvidedByUsedInInvestingActivities_2024Q1',
 'NetCashProvidedByUsedInInvestingActivities_CY2023',
 'NetCashProvidedByUsedInOperatingActivities_2024Q1',
 'NetCashProvidedByUsedInOperatingActivities_CY2023',
 'NetIncomeLoss_2024Q1',
 'NetIncomeLoss_CY2023',
 'WeightedAverageNumberOfDilutedSharesOutstanding_2024Q1',
 'WeightedAverageNumberOfDilutedSharesOutstanding_CY2023',
 'WeightedAverageNumberOfSharesOutstandingBasic_2024Q1',
 'WeightedAverageNumberOfSharesOutstandingBasic_CY2023',
 """

"\nFollowing features are present in multiple datasets. I don't see any conflict with instantaneous data. \n'ComprehensiveIncomeNetOfTax_2024Q1',\n 'ComprehensiveIncomeNetOfTax_CY2023',\n'EarningsPerShareBasic_2024Q1',\n 'EarningsPerShareBasic_CY2023',\n 'EarningsPerShareDiluted_2024Q1',\n 'EarningsPerShareDiluted_CY2023',\n'IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest_2024Q1',\n 'IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest_CY2023',\n 'IncomeTaxExpenseBenefit_2024Q1',\n 'IncomeTaxExpenseBenefit_CY2023',\n 'NetCashProvidedByUsedInFinancingActivities_2024Q1',\n 'NetCashProvidedByUsedInFinancingActivities_CY2023',\n 'NetCashProvidedByUsedInInvestingActivities_2024Q1',\n 'NetCashProvidedByUsedInInvestingActivities_CY2023',\n 'NetCashProvidedByUsedInOperatingActivities_2024Q1',\n 'NetCashProvidedByUsedInOperatingActivities_CY2023',\n 'NetIncomeLoss_2024Q1',\n 'NetIncomeLoss_CY2023',\n 'WeightedAverageNumberOfDilutedSharesOutstanding_2024Q1',\n 'WeightedAverageNumberOfDilutedSharesOutstanding_CY2023',\n 'WeightedAverageNumberOfSharesOutstandingBasic_2024Q1',\n 'WeightedAverageNumberOfSharesOutstandingBasic_CY2023',\n "

#### Testing if historical data can be used to impute values

In [174]:
# Missing value imputation for the CY2023 data
df_edgar_CY2023_pivot_filled_80[df_edgar_CY2023_pivot_filled_80.isnull().any(axis=1)].head(5)

,sym,frame,type,IncomeTaxExpenseBenefit,NetCashProvidedByUsedInFinancingActivities,WeightedAverageNumberOfSharesOutstandingBasic,WeightedAverageNumberOfDilutedSharesOutstanding,NetCashProvidedByUsedInInvestingActivities,NetCashProvidedByUsedInOperatingActivities,CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsPeriodIncreaseDecreaseIncludingExchangeRateEffect,...,EarningsPerShareBasic,OperatingLeasePayments,EarningsPerShareDiluted,DeferredFederalIncomeTaxExpenseBenefit,CurrentStateAndLocalTaxExpenseBenefit,InterestPaidNet,IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest,RightOfUseAssetObtainedInExchangeForOperatingLeaseLiability,DeferredStateAndLocalIncomeTaxExpenseBenefit,ShareBasedCompensation
0,A,CY2023,Year,9.900000e+07,-9.300000e+08,2.940000e+08,2.960000e+08,-3.100000e+08,1.772000e+09,5.370000e+08,...,4.22,NaN,4.19,-8.400000e+07,1.200000e+07,8.900000e+07,1.339000e+09,7.000000e+07,-10000000.0,1.110000e+08
1,AAL,CY2023,Year,2.990000e+08,-3.206000e+09,6.536120e+08,7.196690e+08,-5.020000e+08,3.803000e+09,9.500000e+07,...,1.26,2.033000e+09,1.21,2.680000e+08,NaN,2.180000e+09,1.121000e+09,1.180000e+09,31000000.0,1.020000e+08
2,AAPL,CY2023,Year,1.674100e+10,-1.084880e+11,1.574423e+10,1.581255e+10,3.705000e+09,1.105430e+11,5.760000e+09,...,6.16,1.900000e+09,6.13,-3.644000e+09,1.570000e+09,3.803000e+09,1.137360e+11,NaN,-49000000.0,1.083300e+10
3,ABT,CY2023,Year,9.410000e+08,-7.091000e+09,1.740000e+09,1.749000e+09,-3.133000e+09,7.261000e+09,-2.986000e+09,...,3.28,2.760000e+08,3.26,NaN,NaN,6.620000e+08,6.664000e+09,2.530000e+08,NaN,6.440000e+08
4,ACGL,CY2023,Year,-8.730000e+08,-6.900000e+07,3.687000e+08,3.788000e+08,-5.468000e+09,5.749000e+09,2.250000e+08,...,11.94,3.100000e+07,11.62,NaN,NaN,1.270000e+08,3.570000e+09,2.800000e+07,NaN,9.300000e+07

In [204]:
# All the yearly data for relevant columns merged
df_edgar_yearly=pd.concat([
    df_edgar1[(df_edgar1.type=='Year') & (df_edgar1.measure.isin(list(df_edgar_CY2023_pivot_filled_80.columns)))],
    df_edgar2[(df_edgar2.type=='Year') & (df_edgar2.measure.isin(list(df_edgar_CY2023_pivot_filled_80.columns)))],
    df_edgar3[(df_edgar3.type=='Year') & (df_edgar3.measure.isin(list(df_edgar_CY2023_pivot_filled_80.columns)))]
], axis=0).reset_index(drop=True)
df_edgar_yearly.tail()

,sym,end,frame,value,measure,type
112121,NEE,2023-12-31,CY2023,3.610000e+00,EarningsPerShareBasic,Year
112122,NEE,2023-12-31,CY2023,-3.000000e+07,DeferredStateAndLocalIncomeTaxExpenseBenefit,Year
112123,NEE,2023-12-31,CY2023,3.600000e+00,EarningsPerShareDiluted,Year
112124,NEE,2023-12-31,CY2023,1.610000e+08,CurrentStateAndLocalTaxExpenseBenefit,Year
112125,NEE,2023-12-31,CY2023,5.070000e+08,CurrentFederalTaxExpenseBenefit,Year

In [209]:
# Test if we can impute missing values for the CY2023 data
for column in df_edgar_CY2023_pivot_filled_80.columns:
    for index, row in df_edgar_CY2023_pivot_filled_80[df_edgar_CY2023_pivot_filled_80[column].isnull()].iterrows():
        if (df_edgar_yearly[(df_edgar_yearly.sym=='CPT')&(df_edgar_yearly.measure=='IncomeTaxExpenseBenefit') & (df_edgar_yearly.type=='Year')]).shape[0]>0:
            print(f"Missing value in {column} for {row['sym']} can be imputed with {df_edgar_yearly[(df_edgar_yearly.sym==row['sym'])&(df_edgar_yearly.measure==column) & (df_edgar_yearly.type=='Year')].iloc[0]['value']}")

##### <font color="FFA07A"> Finding: All these features are completely absent for historical data too for the given company!!!</font>

#### Extracting sector data

In [5]:
# Load the data from req URL with urllib
#ssl._create_default_https_context = ssl._create_unverified_context
req='https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
context = ssl._create_unverified_context()
html = urllib.request.urlopen(req,context=context).read()

# Read the table from the URL
df_stock = pd.read_html(html)[0]

# Make sure CIK is a string with 10 characters (leading zeros)
df_stock['CIK'] = df_stock['CIK'].astype(str).str.zfill(10)

# Save the data to a pickle file
df_stock.to_pickle(data_folder + 'df_stock.pkl')

df_stock.tail()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,0001524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,0000877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,0001555280,1952